
/*Fontes*/

@font-face{
	font-family: "Wizards Magic";
	src: url("../fonts/Wizards_Magic.ttf");
}

@font-face{
	font-family: "Stanley Demo";
	src: url("../fonts/Stanley_DEMO.ttf");
}

@font-face{
	font-family: "AmaticSC-Regular";
	src: url("../fonts/AmaticSC-Regular.ttf");
}

@font-face{
	font-family: "Amatic-Bold";
	src: url("../fonts/Amatic-Bold.ttf");
}

@font-face{
	font-family: "Tempus-Sans";
	src: url("../fonts/tempus-sans-itc-1.otf");
}

body{
	background: url("../photos/hog3.png") fixed no-repeat;
	background-size: 1400px auto;
}

@media screen and (min-width: 1400px) and (max-width: 1920px){
	body{
		background-size: 1920px;
	}
}

@media screen and (min-width: 1921px ) and (max-width: 2400px){
	body{
		background-size: 2400px;
	}
}
@media screen and (min-width: 2401px ) and (max-width: 3400px){
	body{
		background-size: 3400px;
	}
}

.principal{
	margin: 0 auto;
	margin-top: 28px;
}

h1,h2,h3,h4,h5{
	color: #fff;
}

h1{
	font-family: Wizards Magic;
}
h2{
	font-family: Stanley Demo;
}
.h21{
	font-family: AmaticSC-Regular; 
	font-size: 80px;
}
.h22{
	font-family: Amatic-Bold;
	font-size: 80px;
}
.h23{
	font-family: Tempus-Sans;
}


/* Formulário */

#mc_embed_signup{
	background: rgba(8, 10, 23,0.6) !important;
	color: #fff;
	border: 1px solid;
}

#mc_embed_signup .mc-field-group.input-group ul{
	margin-top: 18px !important;
}
#mc_embed_signup .mc-field-group.input-group ul li{
	padding: 5px 12px !important;	
}
#mc_embed_signup .mc-field-group.input-group input{
	margin-right: 10px;
}
#mc_embed_signup .mc-field-group.input-group ul{
	display: flex;
}

.botao_form{
	margin: 0 auto;
	display: table;
}
.botao_form_css{
	background: #14c7bb !important;
}